version: '2'

services: 
  bus:
    container_name: bus
    #image: ruby:2.3
    build: .
    expose:
      - 8080
    environment:
      VIRTUAL_HOST: bus.hile.work
      VIRTUAL_PORT: 8080
      LETSENCRYPT_HOST: bus.hile.work
      LETSENCRYPT_EMAIL: illogical.j@gmail.com
    volumes:
      - .:/bus
    networks:
      - nginxproxy_default
      - bus_inner
    restart: always
    working_dir: /bus
    entrypoint: /bin/bash
    stdin_open: true
    tty: true

  postgres:
    container_name: postgres
    image: postgres
    expose:
      - 5432
    networks:
      - bus_inner
    environment:
      POSTGRES_PASSWORD: password
      #POSTGRES_INITDB_ARGS: "--encoding=UTF-8 --locale=ja_JP.UTF-8"

  geth:
    container_name: geth
    image: ethereum/client-go
    expose:
      - 8545
    networks:
      - bus_inner

networks:
  bus_inner:
  nginxproxy_default:
    external: true

