
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CLEVA</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <header id="navbar">
      <h1>CLEVA</h1>
    </header>
      
    <form id="form" method="post" action="/submit">
        <div class="form_content">
        <p class="form_title">
          名前
        </p>
        <input class="form_item form_name" type="text" name="name" placeholder="本名、あだ名など" />
      </div>
      <div class="form_content">
        <p class="form_title">
          プロフィール情報
        </p>
        <textarea class="form_item form_profile" type="text" name="profile" rows="8" cols="100" placeholder="趣味、所属、どんな人に会いたいかなど"></textarea>
      </div>
      <input type="hidden" name="line_id" value="<%= @line_id %>"/>
      <p>
        <input class="send_btn" type="submit" value="プロフィール登録" />
      </p>
    </form>
    <footer>&copy; CLEVA All Rights Reserved</footer>
  </body>
</html>
